body {
    background-color:rgba(255, 217, 0, 0.432);
    padding-left: 5em;
    font-family: Georgia, "Times New Roman",
        Times, serif;
    color: black;
    font-size: 14;
}

dl {
    font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
    font-size: 12;
    color: rgb(110, 0, 153);
    text-align: center;
}

ul {
    font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
    color: blue;
    font-size: 10;
}

ol {
    font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
    color: rgb(0, 255, 13);
    font-size: 10;
}

h3 {
    color: rgb(128, 0, 96);
    font-size: 15;
}
a:link {
    color:aliceblue;
    text-decoration: none;
}
